
:root {
    /* ini warna primary */
    --colorPrimaryPr70: #031bd0;    
    --colorPrimaryPr60: #192ecc;    
    --colorPrimaryPr50: #4758d6;    
    --colorPrimaryPr40: #7582e0;    
    --colorPrimaryPr30: #a3abeb;    
    --colorPrimaryPr20: #d1d5f5;    
    --colorPrimaryPr10: #e8eafa;    
    --colorSecondarySr70: #17a4b8;    
    --colorSecondarySr60: #19b6cc;    
    --colorSecondarySr50: #47c5d6;    
    --colorSecondarySr40: #75d3e0;    
    --colorSecondarySr30: #a3e2eb;    
    --colorSecondarySr20: #d1f0f5;    
    --colorSecondarySr10: #e8f8fa;    
    --colorNeutralNr70: #0e1420;    
    --colorNeutralNr60: #111928;    
    --colorNeutralNr50: #29303e;    
    --colorNeutralNr40: #585e69;    
    --colorNeutralNr30: #888c94;    
    --colorNeutralNr20: #888c94;    
    --colorNeutralNr10: #f6f6f6;    
    --colorWarningWr40: #f27430;    
    --colorWarningWr30: #f69e6e;    
    --colorWarningWr20: #fac7ac;    
    --colorWarningWr10: #fef1ea;    
    --colorWarningWr400: #f27430;    
    --colorSuccessSc40: #22ad5c;    
    --colorSuccessSc30: #64c68d;    
    --colorSuccessSc20: #a7debe;    
    --colorSuccessSc10: #e9f7ef;    
    --colorErrorEr40: #f23030;    
    --colorErrorEr30: #f66e6e;    
    --colorErrorEr20: #faacac;    
    --colorErrorEr10: #feeaea;    
    --colorBtnprimaryDefault: #4758d6;    
    --colorBtnprimaryDisable: #a3abeb;    
    --colorBtnprimaryHover: #031bd0;    
    --colorBtnprimarySelected: #031bd0;    
    --colorBtnsecondaryDefault: #19b6cc;    
    --colorBtnsecondaryDisable: #a3e2eb;    
    --colorBtnsecondaryHover: #17a4b8;    
    --colorBtnsecondarySelected: #17a4b8;    
    --colorIconPrimaryOne: #031bd0;    
    --colorIconPrimaryTwo: #4758d6;    
    --colorIconPrimaryThree: #a3abeb;    
    --colorIconPrimaryFour: #e8eafa;    
    --colorIconNeutralOne: #f6f6f6;    
    --colorIconNeutralTwo: #29303e;    
    --colorIconNeutralThree: #888c94;    
    --colorIconNeutralFour: #f6f6f6;    
    --colorBackgroundOne: #29303e;    
    --colorBackgroundTwo: #111928;    
    --colorWhitePutih: #ffffff;    
    --colorWhitePutihbanget: #ffffff;    
}