
:root {
    --measureLineHeightLineHeightLineheights0: 18px;    
    --measureLineHeightLineHeightLineheights1: 20px;    
    --measureLineHeightLineHeightLineheights2: 22px;    
    --measureLineHeightLineHeightLineheights3: 24px;    
    --measureLineHeightLineHeightLineheights4: 26px;    
    --measureLineHeightLineHeightLineheights5: 38px;    
    --measureLineHeightLineHeightLineheights6: 48px;    
    --measureLineHeightLineHeightLineheights7: 58px;    
    --measureLineHeightLineHeightLineheights8: 72px;    
    --measureFontSizeFontSizeFontsize0: 10px;    
    --measureFontSizeFontSizeFontsize1: 12px;    
    --measureFontSizeFontSizeFontsize2: 14px;    
    --measureFontSizeFontSizeFontsize3: 16px;    
    --measureFontSizeFontSizeFontsize4: 18px;    
    --measureFontSizeFontSizeFontsize5: 30px;    
    --measureFontSizeFontSizeFontsize6: 40px;    
    --measureFontSizeFontSizeFontsize7: 48px;    
    --measureFontSizeFontSizeFontsize8: 60px;    
    --measureLetterSpacingLetterSpacingLetterspacing0: 0px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
}